body{
background-color: tan;
text-align: center; 
border-width: 70px; 
  border-color: red;
  border-style: solid; 
}
h1{
color: rgb(250,0,0);
font family: cursive ; 
} 
p{
color: rgb(250,0,0);
}
.orderedlist {
  color: yellow;
  font-size:30px;
  font-family:cursive; 
}


a.nav:link {color: blue;}
a.nav:visited {color: purple;}
a.nav:hover {color: green;}


